<h2 class="mb-4">Chat</h2>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" id="logs">
                    {{#each chats}}
                    <p class="mb-1"><strong>{{this.user}}</strong>: {{this.message}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <form action="/chat" method="POST" id="chatForm">
                <div class="input-group">
                    
                    <input type="text" class="form-control" id="chatbox">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>
