<h2>Create Product</h2>

<form action="/product/create" method="POST">
    Name: <input name="name">
    Photo: <input name="photo">
    Price: <input type="number" name="price">
    Id: <input type="number" name="id">

    <input type="submit" value="Crear">
</form>